.footermain {
  display: flex;
  align-items: center;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1060px;
  margin-left: auto;
  margin-right: auto;
}

.footer .linkz {
  display: flex;
  justify-content: space-between;
  width: 1060px;
}