.sliderdiv {
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center; 
  }
    
.slider-image {
    height: 30%;
    width: 30%;
  }
  